$borderColor: #D3D9DE;
$border-bottom: #e7e8ec;
$bg: #EDEEF0;
$bg-grey-light: #FAFBFC;
$grey-super-light: #DCE1E6;
$border: rgb(226 226 226 / 70%);
$grey: #626D7A;
$grey-middle: #818C99;
$greyDark: #808080;
$grey300: #99A2AD;
$grey-light: #E2E2E2;
$modal: #E5E5E5;
$blue: #2A5885;
$blue-alternative: #5181B8;
$black: #120101;
$green: #00A800;
$green-alternative: #32B332;
$white: #FFF;
$red: #DD070A;
$grey-nonChecked: #AEB7C2;